/* ============================================= */
/*              Images                           */
/* ============================================= */
.img{
  &-avatar{
    @extend%img-centralize;
    max-height: 100%;
  };

  &-frame{
    @extend%img-centralize;
    padding: 13px;
    border: 1px solid $img-border;
  };

  &-logo{
   @extend%ctn-centralize;
  }
}
