/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@include media-query($media-breakpoint){

  %ctn-centralize-media{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.container {
    max-width: $max-width;
    @extend%ctn-centralize-media;
}

.centered {
    @extend%ctn-centralize-media;
}

.row {
    flex-direction: row;
}

[class^=col] {
  @include flexy($disp:flex,
                 $just:center,
                 $align:center);
  margin-top: 0;
}

[class^=col] + [class^=col] {
  margin-left: 10px;
}

@for $i from 1 through 12 {
  .col-#{$i}{
    @if($i == 1){
      flex-basis: $i * 8.33%;
    }@else if($i <= 4){
      flex-basis: $i * 8.33% + 0.01%;
    }@else if($i <= 7){
      flex-basis: $i * 8.33% + 0.02%;
    }@else if($i <= 10){
      flex-basis: $i * 8.33% + 0.03%;
    }@else{
      flex-basis: $i * 8.33% + 0.04%;
    }
  }
}

.nav {
  @include flexy($direc:row,
                 $just:flex-end,
                 $align:center)
}

.nav-link {
  flex-basis: 100px;
}

.btn {
  padding: 10px 30px;
}

.btn + .btn {
  margin-left: 10px;
}

.logo {
  margin-left: initial;
  margin-right: initial;
}
}
