/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
.container {
  @include media-query($media-breakpoint){
    max-width: $max-width;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.centered {
  @include media-query($media-breakpoint){
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
    @include media-query($media-breakpoint){
    flex-direction: row;
  }
}

[class^=col] {
  @include media-query($media-breakpoint){
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
 }
}

[class^=col] + [class^=col] {
  @include media-query($media-breakpoint){
  margin-left: 10px;
 }
}

.col-1 {
  @include media-query($media-breakpoint){
  flex-basis: 8.33%;
 }
}

.col-2 {
  @include media-query($media-breakpoint){
  flex-basis: 16.67%;
 }
}

.col-3 {
  @include media-query($media-breakpoint){
  flex-basis: 25.00%;
 }
}

.col-4 {
  @include media-query($media-breakpoint){
  flex-basis: 33.33%;
 }
}

.col-5 {
  @include media-query($media-breakpoint){
  flex-basis: 41.67%;
 }
}

.col-6 {
  @include media-query($media-breakpoint){
  flex-basis: 50.00%;
 }
}

.col-7 {
  @include media-query($media-breakpoint){
  flex-basis: 58.33%;
 }
}

.col-8 {
  @include media-query($media-breakpoint){
  flex-basis: 66.67%;
 }
}

.col-9 {
  @include media-query($media-breakpoint){
  flex-basis: 75.00%
 }
}

.col-10 {
  @include media-query($media-breakpoint){
  flex-basis: 83.33%;
 }
}

.col-11 {
  @include media-query($media-breakpoint){
  flex-basis: 91.67%;
 }
}

.col-12 {
  @include media-query($media-breakpoint){
  flex-basis: 100%;
 }
}

.nav {
  @include media-query($media-breakpoint){
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
 }
}

.nav-link {
  @include media-query($media-breakpoint){
  flex-basis: 100px;
  }
}

.btn {
  @include media-query($media-breakpoint){
  padding: 10px 30px;
 }
}

.btn + .btn {
  @include media-query($media-breakpoint){
  margin-left: 10px;
 }
}

.logo {
  @include media-query($media-breakpoint){
  margin-left: initial;
  margin-right: initial;
 }
}
